@font-face {
  font-family: 'Icon';
  src:
    url('/fonts/icomoon.eot') format('embedded-opentype'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
