.actionbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-actionbar;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: $button-width + $gap-normal;
  padding: $gap-wide $gap-half;

  pointer-events: none;

  .button {
    margin-top: $gap-half;
    pointer-events: all;
  }
}

.actionbar__guide-button {
  height: $button-width;
  width: $button-width;
  margin-top: auto;
  padding: $gap-tiny $gap-tiny 0 $gap-tiny;

  background-color: transparent;
  pointer-events: all;
  cursor: pointer;

  &:hover {
    padding: 0;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.actionbar__guide-teaser {
  position: fixed;
  bottom: $button-width + $gap-normal;
  right: $gap-normal;
  width: $button-width;
}
