.login {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $color-main-dark;
  color: $color-background;

  .form {
    align-items: center;
    height: 50%;
    background-color: $color-main-dark;
  }

  .form__element {
    width: 25%;
    min-width: 200px;
    margin-right: 0;
  }

  .form__field {
    width: 100%;
  }

  .button:hover {
    color: $color-main-dark;
    background-color: $color-background;
  }
}

.login__sissi {
  height: $button-width;
}
